<div class="ui-g-12">
  <form (ngSubmit)="onSubmit()" [formGroup]="oneTimeBillForm">
    <div class="ui-g-9">
      <label for="name">Name</label><br/>
      <input id="name"
             pInputText
             formControlName="name"
      />
    </div>
    <br/>
    <div class="ui-g-9">
      <label for="description">Description</label><br/>
      <input id="description"
             pInputText
             formControlName="description"
      />
    </div>
    <br/>
    <div class="ui-g-9">
      <label for="paymentAmount">Payment Amount</label><br/>
      <input id="paymentAmount"
             pInputText
             formControlName="paymentAmount"
      />
    </div>
    <br/>
    <div class="ui-g-9">
      <label for="paymentDate">Payment Date</label><br/>
      <p-calendar id="paymentDate" formControlName="paymentDate" [showIcon]="true"></p-calendar>
    </div>

    <div class="ui-g-4">
      <button pButton type="submit" label="Save" [disabled]="!oneTimeBillForm.valid"></button>
    </div>
    <div class="ui-g-1">
      &nbsp;
    </div>
    <div class="ui-g-4">
      <button type="reset" pButton label="Reset"></button>
    </div>

  </form>

</div>
