<div class="ui-g-12">
  <form (ngSubmit)="onSubmit()" [formGroup]="yearlyBillForm">
    <div class="ui-g-9">
      <label for="name">Name</label><br/>
      <input id="name"
             pInputText
             formControlName="name"
      />
    </div>
    <br/>
    <div class="ui-g-9">
      <label for="description">Description</label><br/>
      <input id="description"
             pInputText
             formControlName="description"
      />
    </div>
    <br/>
    <div class="ui-g-9">
      <label for="paymentAmount">Payment Amount</label><br/>
      <input id="paymentAmount"
             pInputText
             formControlName="paymentAmount"
      />
    </div>
    <br/>
    <div class="ui-g-4">
      <label for="paymentMonth">Payment Month</label><br/>
      <input id="paymentMonth"
             pInputText
             formControlName="paymentMonth"
      />
    </div>
    <div class="ui-g-1">
      &nbsp;
    </div>
    <div class="ui-g-4">
      <label for="paymentDay">Payment Day</label><br/>
      <input id="paymentDay"
             pInputText
             formControlName="paymentDay"
      />
    </div>
    <div class="ui-g-4">
      <button pButton type="submit" label="Save" [disabled]="!yearlyBillForm.valid"></button>
    </div>
    <div class="ui-g-1">
      &nbsp;
    </div>
    <div class="ui-g-4">
      <button type="reset" pButton label="Reset"></button>
    </div>

  </form>

</div>
